@import url("https://fonts.googleapis.com/css2?Family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  transition: all 0.5s ease;
  font-family: "Poppins", sans-serif;
  outline: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  min-width: 350px;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 30px;
}

button {
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #bcd0e5;
  background-color: #02897a;
  color: #e5e5e5;
  border-radius: 8px;
}

button:hover {
  background-color: #e5e5e5;
  color: #02897a;
}

img {
  width: 100%;
}

body {
  background-color: #e5e5e5;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

h1,
h2 {
  color: #22343d;
}

.switch {
  margin-right: 15px;
  display: flex;
}

.switch input {
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  height: 22px;
  width: 40px;
  padding: 5px;
  background-color: #173a56;
  border-radius: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.switch input::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 12.5px;
  background-color: #e5e5e5;
}

.switch input:checked::after {
  margin-left: 15px;
  background-color: #e5e5e5;
}

.switch input:checked {
  background-color: #02897a;
}

#backtop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border-radius: 4px;
  border: 4px solid #ffffff;
  outline: none;
  cursor: pointer;
  padding: 10px;
  transition: 0.6s;
  background-color: #02897a;
}

#backtop a {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

#backtop:hover {
  background-color: #ffffff;
  border: 4px solid #02897a;
}

#backtop:hover a {
  color: #02897a;
}

.navbarshrink {
  padding: 10px 0px;
  box-shadow: 1px 5px 15px #173a56;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 20px 0;
  background-color: #e5e5e5;
}
nav .container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
}

#dark-light {
  display: flex;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

#dark-light img {
  width: 50px;
}

.navright {
  display: none;
}

.uil-bars {
  cursor: pointer;
  color: var(--white);
  font-size: 30px;
}

#navbar-responsive {
  display: block;
  position: fixed;
  top: -100%;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: #e5e5e5;
}

.hamcontent {
  padding: 25px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.hamcontent a {
  color: #22343d;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.hamcontent a:hover {
  font-weight: 700;
}

.uil-multiply {
  cursor: pointer;
  padding: 25px 30px;
  color: var(--white);
  font-size: 35px;
  position: absolute;
  right: 0px;
}

.navlogo {
  display: flex;
  align-items: center;
}
.navlogo h6 {
  margin-left: 16px;
  color: #173a56;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
}
.navlogo img {
  width: 40px;
  height: 36.36px;
}

main .container {
  padding: 100px 30px;
}
main .s1 {
  display: grid;
  align-items: center;
  gap: 30px;
  grid-template-columns: auto;
}
main .s1 h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  max-width: 500px;
}
main .s1 h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  max-width: 458px;
  margin: 18px 0 45px;
}
main .s1 .s1__leftbtns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
main .s1 .video {
  border: none;
  background-color: #e5e5e5;
}
main .s1 .video :hover {
  background-color: #e5e5e5;
}
main .s1 .video i {
  color: #02897a;
}
main .s1 .video a {
  margin-left: 5px;
  color: #22343d;
}
main .s1 .video a:hover {
  color: #02897a;
  text-decoration: underline;
}
main .s1 .s1__right img {
  max-width: 600px;
  max-height: 555.72px;
}
main .s2 {
  background-image: url(../images/Bg_down.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 100px 0;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .s2 h1 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}
main .s2 .s2__cards {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .s2 .s2__cards .s2__card {
  padding: 10px;
}
main .s2 .s2__cards .s2__card h2 {
  margin: 30px 0 13px;
}
main .s2 .s2__cards .s2__card p {
  max-width: 230px;
}
main .s2 .s2__cards .s2__card img {
  width: 50px;
  height: 50px;
}
main .white {
  padding: 150px 0;
  display: grid;
  gap: 100px;
}
main .white .b1 {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-between;
  gap: 50px;
}
main .white .b1 .b1__left h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
main .white .b1 .b1__left h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin: 8px 0 23px;
}
main .white .b1 .b1__left p {
  max-width: 440px;
  margin: 12px 0 25px;
}
main .white .b1 .b1__left .list {
  margin: 30px 0;
  display: flex;
  gap: 30px;
  align-items: center;
}
main .white .b1 .b1__left .list p {
  margin: 0;
  max-width: 340px;
}
main .white .b1 .b1__left .list img {
  width: 35px;
  height: 35px;
}
main .white .b1 .b1__img img {
  max-width: 539.83px;
  max-height: 473.47px;
}
main .process {
  background-image: url(../images/Bg_up.png);
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .process h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
}
main .process p {
  margin-top: 16px;
  text-align: center;
  max-width: 540px;
}
main .process .people {
  display: grid;
  gap: 25px;
  margin: 40px 0;
}
main .process .people .p1 .person {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
main .process .people .p1 .person img {
  width: 98px;
  height: 98px;
}
main .strategies {
  padding: 150px 0;
}
main .strategies h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
}
main .strategies p {
  margin: 8px 0 33px;
}
main .strategies .owl-carousel .border {
  border-radius: 8px;
  border: 1px solid lightgrey;
}
main .strategies .owl-carousel .border :hover h2 {
  color: #02897a;
}
main .strategies .owl-carousel .border .cardtext {
  padding: 25px;
}
main .strategies .owl-carousel .border .cardtext p {
  margin-bottom: 12px;
}
main .strategies .owl-carousel .border .cardtext p span {
  font-weight: 600;
}
main .strategies .owl-carousel .border .cardtext h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}
main .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .price h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
}
main .price p {
  margin: 8px 0 50px;
}
main .price .pricecards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
main .price .pricecards .pricecard {
  background: #e5e5e5;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 75px 32px;
}
main .price .pricecards .pricecard h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}
main .price .pricecards .pricecard p {
  margin: 8px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}
main .price .pricecards .pricecard button {
  margin-top: 40px;
}
main .price .pricecards .pricecard .narx {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}
main .price .pricecards .pricecard .narx h1 {
  color: #02897a;
  font-weight: 700;
  font-size: 76px;
  line-height: 60px;
}
main .price .pricecards .pricecard .narx .dollar h3 {
  color: #02897a;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
main .price .pricecards .pricecard .narx .dollar p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #afafaf;
}
main .price .pricecards .pricecard:hover {
  color: #ffffff;
  background-color: #02897a;
}
main .price .pricecards .pricecard:hover h1 {
  color: #ffffff;
}
main .price .pricecards .pricecard:hover button {
  background-color: #ffffff;
  color: #02897a;
}
main .price .pricecards .pricecard:hover .narx h1 {
  color: #ffffff;
}
main .price .pricecards .pricecard:hover .narx .dollar h3 {
  color: #ffffff;
}
main .price .pricecards .pricecard:hover .narx .dollar p {
  color: #ffffff;
}
main .clients {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .clients h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
}
main .clients p {
  text-align: center;
  margin-bottom: 50px;
  max-width: 500px;
}
main .clients .clients-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
main .clients .clients-cards .clients-card {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 25px;
}
main .clients .clients-cards .clients-card p {
  text-align: left;
  margin: 16px 0;
  max-width: 250px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
}
main .clients .clients-cards .clients-card .profile {
  display: flex;
  align-items: center;
  gap: 15px;
}
main .clients .clients-cards .clients-card .profile img {
  width: 50px;
  height: 50px;
}
main .clients .clients-cards .clients-card .profile .profilename p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
main .clients .clients-cards .clients-card .profile .profilename h1 {
  color: #02897a;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
main .get-this {
  background-color: #02897a;
  border-radius: 32px;
  display: grid;
}
main .get-this .getleft {
  padding: 50px;
}
main .get-this .getleft h1 {
  max-width: 450px;
  color: #e5e5e5;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
}
main .get-this .getleft button {
  margin-top: 90px;
  background-color: #e5e5e5;
  color: #02897a;
  border-radius: 8px;
  padding: 10px 35px;
}
main .get-this .getleft button:hover {
  color: #e5e5e5;
  background-color: #02897a;
}

footer {
  padding: 50px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
footer .container .footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .container .footer-left img {
  width: 162.61px;
  height: 29.09px;
}
footer .container .footer-left .socials {
  display: flex;
  align-items: center;
  gap: 25px;
}
footer .container .footer-left .socials img {
  width: 22px;
}
footer .container .footer-center {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
footer .container .footer-center ul p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
footer .container .footer-center ul li {
  color: #22343d;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
}
footer .container .footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
}
footer .container .footer-right h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  max-width: 260px;
}
footer .container .footer-right form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .container .footer-right form input {
  padding: 10px 15px;
  background: #e5e5e5;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}
footer .container .footer-right form button {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 160px;
}

.footer-bottom {
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom p {
  text-align: center;
}

.uil-star {
  color: #f3cd03;
}

.owl-nav {
  display: none;
}

.owl-dot {
  border-radius: 50%;
  margin: 7px;
  width: 16px;
  height: 16px;
  background-color: lightgray !important;
}

.owl-dots {
  text-align: center;
  margin-top: 64px;
}

.owl-dots button.active {
  background-color: #02897a !important;
}

.owl-stage .owl-item.active .owl-carousel .border .cardtext h2 {
  color: #02897a;
}

@media (min-width: 650px) {
  nav .container {
    grid-template-columns: repeat(2, auto);
  }
  .navright {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .navright a {
    color: #22343d;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  .navright a:hover {
    font-weight: 700;
  }
  .navright .navbtn {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .sw2 {
    display: none !important;
  }
  main .s1 {
    grid-template-columns: repeat(2, auto);
  }
  main .white .b1 {
    grid-template-columns: repeat(2, auto);
  }
  main .people .p1 {
    gap: 100px;
    display: flex;
    justify-content: space-between;
  }
  main .get-this {
    grid-template-columns: repeat(2, auto);
  }
  .footer-center {
    gap: 110px !important;
  }
}
@media (min-width: 900px) {
  .navright .navbtn {
    display: flex;
    gap: 20px;
  }
}
@media (min-width: 950px) {
  main .people .p1 {
    gap: 190px;
  }
}